<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aistream.greenqube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_SMS" tools:node="remove"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name=".permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <permission
        android:name=".permission.ACCESS_DOWNLOAD_MANAGER"
        android:description="@string/permdesc_downloadManager"
        android:label="@string/permlab_downloadManager"
        android:protectionLevel="normal" />

    <!-- Allows advanced access to the Download Manager -->
    <permission
        android:name=".permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED"
        android:description="@string/permdesc_downloadManagerAdvanced"
        android:label="@string/permlab_downloadManagerAdvanced"
        android:protectionLevel="normal" />

    <!-- Allows to send broadcasts on download completion -->
    <permission
        android:name=".permission.SEND_DOWNLOAD_COMPLETED_INTENTS"
        android:description="@string/permdesc_downloadCompletedIntent"
        android:label="@string/permlab_downloadCompletedIntent"
        android:protectionLevel="normal" />

    <!-- support measure multi screen layout width and height -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

    <application
        android:name=".OgleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_config"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_app" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


<!--        <activity
            android:name="com.flixsys.soflix.activity.SplashScreenActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".activity.PermissionNoticeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data-->
                <!--android:host="t4jsample"-->
                <!--android:scheme="oauth" />-->
            </intent-filter>
        </activity>
        <activity android:name="com.sahooz.library.PickActivity" android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <!--below is required-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--url schema-->
                <data android:scheme="ogle" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PlayerActivity1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".services.downloads.DownloadProvider"
            android:authorities="com.aistream.greenqube.downloads" />

        <service android:name=".services.downloads.DownloadService" />

        <!--  expand control UI-->
        <activity
            android:name=".chromecast.expandedcontrols.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CastVideosDark"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>

        <!-- regist google cast-->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.flixsys.soflix.chromecast.CastOptionsProvider"/>

        <service android:name=".upgrade.service.DownloadService"/>
        <provider
            android:name=".upgrade.UpdateFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_file_paths"/>
        </provider>
        <!--<receiver android:name="com.flixsys.soflix.layout.SmsReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service android:name=".layout.FirebaseMessagingServiceMe">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!--<service android:name=".layout.FirebaseIDService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <receiver android:name=".receiver.StorageStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.ACTION_MEDIA_BAD_REMOVAL"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>